<header>
    <div class="container">
        <div class="intro">
            <!-- <p class="intro__pre">Hello</p> -->
            <p class="intro__main">{{ site.name }}</p> 
			<p>
			<p class="intro__job">{{ site.job }} </p>
            <p class="intro__languages">{{ site.languages }}</p>
        </div>
		<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
		<div class="social"> 
		<a href="http://www.linkedin.com/in/{{ site.LinkedIn_username }}" target="_blank">LinkedIn</a>		
		<!-- <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="renjieliu"><a class="LI-simple-link" href='https://www.linkedin.com/in/renjieliu?trk=profile-badge'>Renjie Liu</a></div> -->
        </div> 
        <!-- {{ if site.github_username or site.codepen_username or site.twitter_username or site.email_address }} -->
        <!-- <div class="social"> -->
            <!-- {{ if site.github_username }}<a href="www.linkedin.com/in/{{ site.LinkedIn_username }}" target="_blank">LinkedIn</a>{{ endif }} -->
        <!-- </div> -->
        <!-- {{ endif }} -->

    </div>
</header>
