<h3 class="section-title">Overview</h3>

<dl class="overview">
<dt>
	{% for item in site.data.overview.toc %}
	<li>{{item.title}}</li>
		{% for entry in item.subfolderitems %}
		<li>{{entry.page}}</li>
		{% endfor %}
	{% endfor %}
</dt>

</dl>

<h3 class="section-title">Experience</h3>
<dl class="experience">
    {% for job in site.data.jobs %}
        <dt>
            <p class="title">{{ job.title }}</p>
            <p class="company">{{ job.company }}</p>
            <p class="period">{{ job.period }}</p>

		<dd>
		{% for x in job.description %}
            <li>{{ x.item }}</li>
		{% endfor %}
        </dd>
		</dt>
    {% endfor %}
</dl>

<h3 class="section-title">Education</h3>
<dl class="education">
    {% for qualification in site.data.education %}
        <dt>
            <p class="qualification">{{ qualification.qualification }}</p>
			<p class="company">{{ qualification.school }}</p>
            <p class="period">{{ qualification.period }}</p>
			
        </dt>
    {% endfor %}
</dl>
